# 라이브러리

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# 데이터

In [3]:
df=pd.read_csv("C:/Users/wjdtj/OneDrive - dgu.ac.kr/데이터 분석/교통사고/교통사고 데이터 셋/df_final_20_22.csv",encoding='cp949')
df.head()

,구급보고서번호,신고시,계절구분명,요일,시간단위기온,시간단위강수량,시간단위풍속,시간단위풍향,시간단위습도,시간단위적설량,환자연령,환자성별구분명,교통사고명,학교로부터_거리,스쿨존여부(300m),버스_정류장_유무(10m),교차로여부,횡단보도여부,경도,위도
0,20224502108M00009,20,겨울,토요일,-0.3,NaN,0.2,0.0,47.0,NaN,71.0,남,보행자,102.964474,1,0,0,0,127.102032,35.832971
1,20224502106M00013,11,겨울,월요일,0.9,NaN,0.6,360.0,61.0,NaN,65.0,여,보행자,659.975234,0,0,0,1,127.106905,35.814580
2,20224501101M00038,14,겨울,월요일,3.2,NaN,2.1,290.0,45.0,NaN,50.0,여,보행자,202.456833,1,0,0,0,127.136227,35.826949
3,20224502106M00020,21,겨울,월요일,-0.4,NaN,1.8,140.0,70.0,NaN,60.0,여,보행자,281.272041,1,0,0,0,127.137265,35.796686
4,20224502106M00022,5,겨울,화요일,0.1,NaN,1.1,140.0,76.0,NaN,53.0,여,보행자,375.408646,0,0,0,0,127.130957,35.787438

In [8]:
df_bike=df[df['교통사고명']=='자전거사고']
df_walk=df[df['교통사고명']=='보행자']

In [9]:
df_walk_old=df_walk[df_walk['환자연령']>=65]
df_walk_young=df_walk[df_walk['환자연령']<=20]

df_bike_old=df_bike[df_bike['환자연령']>=65]
df_bike_young=df_bike[df_bike['환자연령']<=20]

# EDA

In [12]:
df['밀도']

KeyError: '밀도'

# 시각화